* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass Mono', monospace;
  background: #000000;
  color: #efefef;
}

.canvas {
  text-align: center;
}

.canvas svg {
  margin: 0 auto;
}
